@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RobotoMono";
  src: url("/Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format("truetype")
}
body {
  font-family: "RobotoMono";
  color: white;
  background: black
}